@using IIM.ViewModels
@using IIM.Models.Domain
@model IEnumerable<MaterialViewModel>

@{
    ViewBag.Title = "Inventaris";
    ViewBag.Active = "Inventory";
}

<h2>Materialen</h2><br />
@using (Html.BeginForm("Index", "Inventory", FormMethod.Get, new { @class = "form-inline search-function" }))
{
    @CreateSearchControl("SearchName", "Zoeken op naam")
    @CreateSearchControl("searchCurricular", "Zoeken op leergebied")
    @CreateSearchControl("searchFirm", "Zoeken op firma")
    @CreateSearchControl("searchTargetGroup", "Zoeken op doelgroep")
    <input type="submit" class="btn btn-default" value="Zoek" />
}

@helper CreateSearchControl(string id, string placeholder)
{
    <div class="form-group">
        <label class="sr-only" for="@id">@placeholder</label>
        <input type="text" class="form-control" name="@id" id="@id" placeholder="@placeholder">
    </div>
}

@if (Model != null && Model.Any())
{
    <div class="clearfix">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>Acties</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.PhotoUrl)" class="img-rounded " style="max-width: 150px; max-height: 100px;" alt="Foto van @Html.DisplayFor(modelItem => item.Name)" />
                    </td>
                    <td>
                        <h4>@Html.ActionLink(item.Name, "Detail", new { id = item.Id })</h4>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                       
                        @using (Html.BeginForm("Add", "Cart", new { id = item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            {
                                if (ViewBag.WishList.AlreadyInCart(item.Id))
                                {
                                    <button type="submit" class="btn btn-default disabled">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Toegevoegd aan verlanglijst
                                    </button>

                                }
                                else {
                                          <button type="submit" class="btn btn-default">
                                              <span class="glyphicon glyphicon-shopping-cart"></span> Voeg toe aan verlanglijst
                                          </button>
                                }
                              }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>Er zijn geen materialen gevonden.</p>
}