@using IIM.ViewModels
@model InventoryViewModel

@{
    ViewBag.Title = "Inventaris";
    ViewBag.Active = "Inventory";
}

<h2>Materialen</h2>
@using (Html.BeginForm("Index", "Inventory", FormMethod.Get, new { @class = "form-inline search-function" }))
{
    @CreateSearchControl("SearchName", "naam")
    @CreateSearchControl("searchCurricular", "leergebied", Model.CurricularModels, Model.CurricularSelectedValue.Name)
    @CreateSearchControl("searchTargetGroup", "doelgroep", Model.TargetGroupModels, Model.TargetGroupSelectedValue.Name)
    <input type="submit" class="btn btn-default" value="Zoek" />
}

@helper CreateSearchControl(string id, string placeholder, IEnumerable<SearchableItemModel> input = null, string defaultValue = null)
{
    <div class="form-group">
        <label class="sr-only" for="@id">Zoeken op @placeholder</label>
        @if (input == null)
        {
            <input type="text" class="form-control" name="@id" id="@id" placeholder="Zoeken op @placeholder">
        }
        else
        {
            <select id="@id" name="@id" class="form-control">
                <option value="" @(defaultValue == null ? "selected" : "")>@($"--Selecteer een {placeholder}--")</option>
                @foreach (var item in input)
                {
                    <option value="@item.Name" @(item.Name.Equals(defaultValue) ? "selected" : "")>@item.Name</option>
                }
            </select>
        }
    </div>
}

@Html.Partial("MaterialOverview", Model.MaterialViewModels)