@model IIM.ViewModels.ReservationViewModels.NewReservationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Reserveer je materialen</h2>
@Html.Partial("ReservationDateRangePartial", Model.ReservationDateRange)

@using (Html.BeginForm("CreateReservation", "Reservation", FormMethod.Post, new { id = "materialPickerForm" }))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th colspan="2">
                <p>Materiaal</p>
            </th>
            <th>
                <p>Beschrijving</p>
            </th>
            <th>
                <p>Maximaal aantal</p>
            </th>
            <th>
                <p>Gewenst aantal</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ReservationMaterials.Materials)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Material.PhotoUrl)" class="img-rounded" style="max-width: 150px; max-height: 100px;" alt="Foto van @Html.DisplayFor(modelItem => item.Material.Name)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxAmount)
                </td>
                <td>
                    @(Model.ReservationMaterials.IsDisabled ? @Html.TextBoxFor(modelItem => item.RequestedAmount, new {disabled = "disabled"}) : @Html.TextBoxFor(modelItem => item.RequestedAmount))
                </td>
                <td>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.})*@
                </td>
            </tr>

        }
    </table>
    <input type="submit" class="btn btn-default" value="Reserveer" @(ViewBag.disabled == true ? @"disabled=""disabled""" : "") />
}