@using IIM.ViewModels.ReservationViewModels
@model IEnumerable<ReservationsViewModel>

@{
    ViewBag.Title = "Mijn Reservaties";
}

<h2>Mijn Reservaties</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            Acties
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Details", "ShowDetails", "Reservation", new { id = item.Id }, null)
        </td>
        
    </tr>

    
}
</table>

@*<div>
    Die div ier zou moeten openschuiven wanneer er op de reservatie geklikt wordt 
    @Html.Partial("Details"))
</div>*@
