@model IEnumerable<IIM.ViewModels.ReservationViewModels.ReservationViewModel>

@{
    ViewBag.Title = "Mijn Reservaties";
}

<h2>Mijn Reservaties</h2>

<div class="row ReservatieHead">
    <div class="col-sm-3">@Html.DisplayNameFor(model => model.CreationDate)</div>
    <div class="col-sm-3">@Html.DisplayNameFor(model => model.StartDate)</div>
    <div class="col-sm-3">@Html.DisplayNameFor(model => model.EndDate)</div>
    <div class="col-sm-3"></div>
</div>

@foreach (var item in Model)
{
    <div class="row reservatie">
    
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.CreationDate)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.StartDate)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.EndDate)
        </div>


        <div class="col-sm-3">
            <div class="hidden">
                @Html.DisplayFor(modelItem => item.Status)
            </div>

            <button id="@string.Format("btnExpand{0}", item.Id)" type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            @if (item.StartDate > DateTime.Today)
            {
                using (Html.BeginForm("Delete", "Reservation", new { id = item.Id }))
                {
                    @Html.AntiForgeryToken()
                    <button id="@string.Format("btnDelete{0}", item.Id)" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                }
            }

        </div>

        <div id="@string.Format("resDetail{0}", item.Id)" class="collapse">
            @{ Html.RenderPartial("_Details",
                               item.Details, new ViewDataDictionary { { "id", item.Id } }); }

        </div>
    </div>
                }