@using IIM.ViewModels.ReservationViewModels
@model IEnumerable<ReservationViewModel>

@{
    ViewBag.Title = "Mijn Reservaties";
}

<h2>Mijn Reservaties</h2>

<div class="row ReservatieHead">
    <div class="col-md-4">@Html.DisplayNameFor(model => model.CreationDate)</div>
    <div class="col-md-4">@Html.DisplayNameFor(model => model.StartDate)</div>
    <div class="col-md-4">@Html.DisplayNameFor(model => model.EndDate)</div>
</div>
   
    @foreach (var item in Model)
    {
        <a href='@string.Format("#{0}", item.Id)' data-toggle="collapse">
            <div class="row reservatie">
                <!--In a-tag de reservatie, wanneer op geklikt wordt openen de details-->

                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </div>
                <div id="@string.Format("{0}", item.Id)" class="collapse">
                    @{Html.RenderPartial("_Details",
                                          item.Details, new ViewDataDictionary { { "id", item.Id } });}
                </div>
            </div>
        </a>
                        }
