@using IIM.ViewModels.ReservationViewModels
@model IEnumerable<ReservationsViewModel>

@{
    ViewBag.Title = "Mijn Reservaties";
}

<h2>Mijn Reservaties</h2>

<table class=" table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
    </tr>
</table>
   
    @foreach (var item in Model)
    {
        <div class="row reservatie">
            <!--In a-tag de reservatie, wanneer op geklikt wordt openen de details-->
            <a href='@string.Format("#{0}", item.Id)' data-toggle="collapse">
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </div>
            </a>

            <div id="@string.Format("{0}", item.Id)" class="collapse">
                @{Html.RenderPartial("_Details",
                      item.Details.Select(detail => new ReservationDetailViewModel(detail))
                  , new ViewDataDictionary { { "id", item.Id } });}
            </div>
        </div>
}
