
@model IEnumerable<IIM.ViewModels.MaterialViewModel>

@{
    ViewBag.Title = "Reservatie";
}

<h2>@ViewBag.Title</h2>

<div class="clearfix">
    <div>   Laat het aantalvakje leeg of 0 wanneer je een materiaal niet wenst te reserveren.<br/>
    Een reservatie is standaard tot de vrijdag na de ophaling. <br/>
    Indien u wenst te verlengen of verkorten gelieven een mail te sturen naar de beheerder
    </div>
    <br />
    <br />
    <div class="col-lg-3 panel panel-default" >
        <div class="panel-body">
            <p>Startdatum: @Html.TextBox("StartDate", (string)@ViewBag.StartDatum)</p>
        </div>
    </div>
    
    <div class="col-lg-8">
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                </td>
                <td style="width: 15%;">
                    <img src="@Url.Content(item.PhotoUrl)" class="img-rounded " style="width: 75%; height: auto;" alt="Foto van @Html.DisplayFor(modelItem => item.Name)" />
                </td>
                <td>
                    <h4>@Html.ActionLink(item.Name, "Detail", "Inventory", new { id = item.Id })</h4>
                </td>
                <td>
                    <div class="form-group pull-right">
                        Aantal: 
                        <label class="sr-only" for="quantity">Quantity</label>
                        <input type="number" name="quantity" value="0" min="0" style="width:5em" />
                    </div>
                
               </td>
            </tr>
        }
    </table>
        @using (Html.BeginForm("MakeReservation", "Reservation"))
        {
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-  "></span>Reserveer
        </button>
        }
    </div>
</div>
