@model IIM.ViewModels.ReservationViewModels.ReservationDateRangeViewModel
@using (Html.BeginForm("ChangeReservationRange", "Reservation", FormMethod.Post, new { @class = "form-inline", id = "dateRangeForm" }))
{
    @CreateDateField("startDate", "Startdatum", Model.StartDate, Model.StartDateHasError, Model.StartDateError)
    if (Model.DateFieldAmount >= 2)
    {
        @CreateDateField("endDate", "Einddatum", Model.EndDate, Model.EndDateHasError, Model.EndDateError)
    }
    <input type="submit" class="btn btn-default" value="Vernieuw filter" />
}

@helper CreateDateField(string id, string placeholder, object value, bool hasError, string error)
{
    <div class="form-group@(hasError ? " has-error has-feedback" :  "")">
        <label class="sr-only" for="@id">@id:</label>
        <input type="datetime" class="form-control" id="@id" name="@id" placeholder="@placeholder" value="@value"/>
        @if (hasError)
        {
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        }
    </div>
}