@model IEnumerable<IIM.ViewModels.MaterialViewModel>

@{
    ViewBag.Title = "Winkelwagen";
    ViewBag.Active = "Cart";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Leeg uw winkelwagen", "Clear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th />
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Cart", new { id = item.Id }))
                {
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-trash-o"></i> Verwijder
                    </button>
                }
            </td>
        </tr>
    }
</table>

<p>U kan nu een reservatie maken vanaf @ViewBag.Startdatum</p>
@using (Html.BeginForm("Index", "Reservation"))
{
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-shopping-  "></span>Reserveer
    </button>
}
