@model IEnumerable<IIM.ViewModels.MaterialViewModel>

@{
    ViewBag.Title = "Winkelwagen";
    ViewBag.Active = "Cart";
}

<h2>@ViewBag.Title</h2>

<div class="clearfix">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Acties
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 15%;">
                    <img src="@Url.Content(item.PhotoUrl)" class="img-rounded " style="width: 75%; height: auto;" alt="Foto van @Html.DisplayFor(modelItem => item.Name)" />
                </td>
                <td>
                    
                    <h4>@Html.ActionLink(item.Name, "Detail", "Inventory", new { id = item.Id },null)</h4>
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart", new { id = item.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> verwijder</button>
                    }
                </td>

                
            </tr>
        }
    </table>
    
    <p>De eerstvolgende dag waarvoor u een reservatie kunt maken is @ViewBag.Startdatum</p>
    @using (Html.BeginForm("Index", "Reservation"))
    {
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-cart  "></span> Reserveer
        </button>
    }
</div>